.center {
	text-align: center;
}

.new-container {
	padding: 15px;
	width: 400px;
	margin: 25px;
	margin-left: 5%;
	border: 1px solid lightgray;
	border-radius: 4px;
}

.view-notebook {
	padding: 15px;
	width: inherit;
	border: 1px solid lightgray;
	border-radius: 4px;
}

.text-landing {
	margin-right: 10%;
}

.text-landing p{
	font-size: 28px;
}

.search-head-section {
	width: 100%;
	padding: 15px;
	background-color: aliceblue;
}
